{% extends 'blog/postings/overview.twig' %}

{% block advanced %}
    <a href="/app/blog">
        Simpel
    </a>
{% endblock %}

{% block extra %}
    <p>
        <a href="/app/blog/delete/{{ id }}">Verwijder</a>
    </p>
{% endblock %}
