{% extends 'blog/main.twig' %}

{% block body %}
     <h1>
        {{ posting.title }}
    </h1>

    <p>
        {{ posting.message }}
    </p>
    
    <h2>
        Reageersels
    </h2>
    
    {% for comment in posting.comments %}
        <p>
            {{ comment }}
        </p>
    {% else %}
        <p>
            Nog niemand heeft gereageerd.
            Schande.
        </p>
    {% endfor %}
    
    <form action="/app/blog/addMessageToPosting/{{ id }}" method="post">
        <table>           
            <tr>
                <td>
                    Reageer
                </td>                
                <td>
                    <textarea name="message"></textarea>
                </td>
            </tr>
        </table>
        
        <input type="submit" value="stuur op"/>
    </form>
            
    
{% endblock %}