{% extends 'blog/main.twig' %}

{% block body %}
    
    <h1>
        Dit is mooie blog
    </h1>
    
    {% for posting in postings %}
        <h1>
            {{ posting.getPosting.title }}
        </h1>

        <span>
            {{ posting.getPosting.getTimestamp|date("dd-MM-yyyy") }}
        </span>
        
        <p>
            {{ posting.getPosting.message }}
        </p>

        <a href="/app/blog/{{ posting.getId }}">
            Bekijk reacties
        </a>
        
    {% else %}
        Geen blogjes gevonden jonguh!
    {% endfor %}
    
    <h2>
        Voeg blogje toe:
    </h2>
    
    <form action="/app/blog/add" method="post">
        <table>
            <tr>
                <td>
                    Titel
                </td>                
                <td>
                    <input type="text" name="title"/>
                </td>
            </tr>
            <tr>
                <td>
                    Bericht
                </td>                
                <td>
                    <textarea class="form-control" name="message"></textarea>
                </td>
            </tr>
        </table>
        
        <input class="btn btn-primary" type="submit" value="stuur op"/>
    </form>
    
{% endblock %}
