{% extends 'blog/main.twig' %}

{% block body %}
        
    {% block advanced %}
        <a href="/app/blog/advanced">
            Geavanceerd
        </a>
    {% endblock %}
    
    <h1>
        Dit is mooie blok
    </h1>
    
    {% for posting in postings %}
        <h1>
            {{ posting.title }}
        </h1>
        
        <p>
            {{ posting.message }}
        </p>
        
    {% else %}
        Geen blogjes gevonden jonguh!
    {% endfor %}
    
    <h2>
        Voeg blogje toe:
    </h2>
    
    <form action="/app/blog/add" method="post">
        <table>
            <tr>
                <td>
                    Titel
                </td>                
                <td>
                    <input type="text" name="title"/>
                </td>
            </tr>
            <tr>
                <td>
                    Bericht
                </td>                
                <td>
                    <textarea name="message"></textarea>
                </td>
            </tr>
        </table>
        
        <input type="submit" value="stuur op"/>
    </form>
    
{% endblock %}
